.selected {
	border: 2px green solid;
}

.prod-block {
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.block {
	cursor: pointer;
}

.modal-body img {
	width: 100px;
}

.thumbnail img {
	width: 150px;
}